@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: #0d0f10; 
    --button-bg: #f7d3f2;
    --button-hover-bg: #1c86ee; 
    --box-shadow: rgba(0, 0, 0, 0.612);
    --border-radius: 25px;
    --shadow-color: rgba(0, 0, 0, 0.45);
    --font-main: 'Poppins', sans-serif;
    --font-heading: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-image: url("https://miro.medium.com/v2/resize:fit:1000/1*jzthNHjY7XVZUoJwrw9h6w.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontpage-container {
    text-align: center;
    padding: 4rem 5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 8px 30px var(--shadow-color);
    max-width: 700px;
    width: 90%;
    animation: fadeIn 1.5s ease-in-out;
    backdrop-filter: blur(12px);
    position: relative;
}

.frontpage-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
    border-radius: var(--border-radius);
    z-index: -1;
}

.frontpage-container h1 {
    font-size: 4.5rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.frontpage-container p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 3rem;
    line-height: 1.9;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.enter-button {
    display: inline-block;
    padding: 1.4rem 3.5rem;
    font-size: 1.4rem;
    color: #09938390;
    background: var(--button-bg);
    border-radius: var(--border-radius);
    text-decoration: none;
    box-shadow: 0 8px 20px var(--shadow-color);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: 600;
    border: 2px solid transparent;
}

.enter-button:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-5px);
    color: black;
    background-color: aquamarine;
    box-shadow: 0 12px 25px var(--shadow-color);
    border-color: var(--button-hover-bg);
}

.enter-button:active {
    transform: translateY(2px);
    box-shadow: 0 8px 15px var(--shadow-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
